body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

th:hover{
	cursor:pointer;
}

.footer{
	text-align:center;
}

.navbar-collapse{
	margin-bottom:3%;
}